# Auto detect text files and perform LF normalization
* text=auto
*.cpp text
*.h text
*.vcxproj text
*.sln text eol=crlf
*.ico binary
*.bmp binary
*.png binary

# Exclude generated HTML from language stats
package/** linguist-generated
